.image-popup {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		width: 600px;
		background-color: #fff;
		padding: 20px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
	}
	&__header {
		border-bottom: 1px solid var(--text-color);
		display: flex;
		padding: 20px 10px;
		justify-content: space-between;
	}
	&__close {
		background-color: transparent;
		img {
			width: 20px;
			height: 20px;
		}
	}

	&__create {
		align-self: flex-end;
		margin-right: 10px;
	}

	&__main {
		display: flex;
		align-items: center;
	}
	&__input-section,
	&__preview-section {
		flex: 1 1 50%;
	}

	&__input-section {
		padding: 20px 10px;
		textarea {
			resize: none;
			padding: 12px;
			background-color: #ebf0f9;
			border-radius: 10px;
			height: 120px !important;
			border: 1px solid transparent;
			width: 100%;
		}
		textarea:focus {
			border: 1px solid var(--main-color);
		}
	}

	&__error {
		color: rgb(116, 9, 9);
		font-size: 20px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media (max-width: 620px) {
		&__main {
			flex-direction: column;
		}

		&__content {
			margin: 0 10px;
		}
	}
}

.preview-section {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-top: 15px;
	width: 100%;
	height: 230px;

	input {
		display: none;
	}
	&__load-image-btn {
		margin-top: 20px;
		border: 1px solid;

		&:hover{
			background-color: rgb(35 46 108 / 66%);
			color: white;
		}
	}

	&__preview {
		height: 150px;
		width: 150px;
		margin: auto;
		border: 6px dotted var(--text-color);
		cursor: pointer;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: url("./../../assets/images/camera.png");
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__preview.load-image {
		border-color: transparent;

		&::before {
			background: none;
		}

		&:hover {
			border: 6px solid var(--text-color);
			&::before {
				background: url("./../../assets/images/bin.png");
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	&__enter-zone {
		padding: 15px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border: 6px dotted var(--text-color);

		span {
			display: block;
			margin-top: 15px;
			font-weight: 600;
		}
	}
}
