.category-page {
	height: 100%;
	width: 100%;
	padding: 35px;
	align-self: flex-start;


	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		height: 100%;
		width: 100%;	
        column-gap: 35px;
	}


}
