.category-card {
	padding: 30px;
	margin-top: 10px;
	background-color: white;
	color: var(--text-color);
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 20px;

	&:hover {
		transform: scale(1.1);
	}

	p {
		margin-bottom: 4px;
		word-break: break-word;
	}

	img {
		height: 150px;
		width: 150px;
		border-radius: 10px;
		margin-bottom: 15px;
	}

    &__date{
        font-size: 15px;
        color: #3e5783;
    }
}
