@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');

:root {
  --main-color: #b4ceff;
  --main-color80: #b4ceff80;
  --main-color60: #b4ceff60;
  --header-text-color: #072a6b;
  --header-heigth: 65px;
}

html {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Mulish", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(rgb(255, 14, 154), white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(247, 8, 207);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}